<!-- Main Page-->
<div *ngIf="active" class="col">
    <div class="row">
        <div class="col-3">
            <app-menu></app-menu>
        </div>
        <div class="col-9">
            <router-outlet> </router-outlet>
            <app-new-user></app-new-user>
        </div>
    </div>
</div>

<!-- Login Sayfası-->
<div *ngIf="loginActive" class="col-12" class="col">
    <app-login></app-login>
</div>

<!-- Yeni kullanıcı Kayıt pop up açılması durumu-->
<div *ngIf="newUserActive" class="col-12" class="col">
    <app-new-user></app-new-user>
</div>