<kendo-dialog *ngIf="newUserActive" (close)="closeForm()">
    <kendo-dialog-titlebar>
        Yeni Kullanıcı Kayıdı
    </kendo-dialog-titlebar>

    <form [formGroup]="newUserForm">
        <div class="col-sm-12">

            <div class="col-sm-5">
                <label for="name" class="control-label">Ad :</label>
            </div>
            <div class="col-sm-10">
                <input id="name" type="text" class="form-control" formControlName="name" />
                <span class="k-tooltip k-tooltip-validation"
                    [hidden]="newUserForm.get('name').valid || newUserForm.get('name').pristine">
                    Ad Giriniz!
                </span>
            </div>

            <div class="col-sm-5">
                <label for="surname" class="control-label">Soyad :</label>
            </div>
            <div class="col-sm-10">
                <input id="surname" type="text" class="form-control" formControlName="surname" />
                <span class="k-tooltip k-tooltip-validation"
                    [hidden]="newUserForm.get('surname').valid || newUserForm.get('surname').pristine">
                    Soyad Giriniz!
                </span>
            </div>

            <div class="col-sm-7">
                <label for="username" class="control-label">Kullanıcı Adı:</label>
            </div>
            <div class="col-sm-10">
                <input id="username" type="text" class="form-control" formControlName="username" />
                <span class="k-tooltip k-tooltip-validation"
                    [hidden]="newUserForm.get('username').valid || newUserForm.get('username').pristine">
                    Kullanıcı Adı Giriniz!
                </span>
            </div>

            <div class="col-sm-5">
                <label for="password" class="control-label">Şifre</label>
            </div>
            <div class="col-sm-10">
                <input id="password" type="password" class="form-control" formControlName="password" />
                <span class="k-tooltip k-tooltip-validation"
                    [hidden]="newUserForm.get('password').valid || newUserForm.get('password').pristine">
                    Şifre giriniz!
                </span>
            </div>
        </div>

        <div class="col-sm-5">
            <label for="category" class="control-label">Kategori</label>
        </div>
        <div class="col-sm-10">
            <select id="category" class="form-control" formControlName="category">
                <option value="">Teknoloji</option>
                <option value="">Bilim</option>
                <option value="">Tarih</option>
                <option value="">Sanat</option>
                <option value="">Felsefe</option>
            </select>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="float-right btn btn-outline-success"
                    (click)="onSave()">Kaydet</button>
                <button class="float-right btn btn-outline-danger" (click)="onCancel()">İptal</button>

            </div>
        </div>
    </form>
</kendo-dialog>